@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&display=swap");
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  font-family: "Montserrat Alternates", sans-serif;
}
body,
html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
